@import url('navigation.css'); /*navigation menus for desktop and mobile*/

/* GLOBAL STYLES: apply to all screens*/
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/*  DYNAMIC BACKGROUND  */
@keyframes move {
    100% { transform: translate3d(0, 0, 1px) rotate(360deg); }
}

.background {
    position: fixed;
    inset: 0;
    background: #a374d6;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    color: #803fc7;
    animation: move 45s linear infinite;
}

.background span:nth-child(0)  { top: 48%; left: 65%; animation-duration: 52s; animation-delay: -19s; transform-origin: -24vw 15vh; box-shadow: 100vmin 0 12.51224127633343vmin currentColor; }
.background span:nth-child(1)  { top: 26%; left: 5%;  animation-duration: 54s; animation-delay: -7s;  transform-origin: -4vw -19vh; box-shadow: 100vmin 0 12.638605966443146vmin currentColor; }
.background span:nth-child(2)  { top: 59%; left: 5%;  animation-duration: 44s; animation-delay: -37s; transform-origin: -5vw -3vh;   box-shadow: -100vmin 0 12.955129356012014vmin currentColor; }
.background span:nth-child(3)  { top: 31%; left: 86%; animation-duration: 54s; animation-delay: -50s; transform-origin: -8vw 24vh;  box-shadow: -100vmin 0 13.286937654273622vmin currentColor; }
.background span:nth-child(4)  { top: 78%; left: 11%; animation-duration: 20s; animation-delay: -22s; transform-origin: -13vw 3vh;  box-shadow: -100vmin 0 13.434870685541025vmin currentColor; }
.background span:nth-child(5)  { top: 31%; left: 18%; animation-duration: 50s; animation-delay: -30s; transform-origin: -6vw 20vh;  box-shadow: 100vmin 0 12.653919048845651vmin currentColor; }
.background span:nth-child(6)  { top: 78%; left: 52%; animation-duration: 11s; animation-delay: -37s; transform-origin: -11vw 14vh; box-shadow: -100vmin 0 12.708364493664732vmin currentColor; }
.background span:nth-child(7)  { top: 48%; left: 76%; animation-duration: 47s; animation-delay: -31s; transform-origin: -7vw 0vh;   box-shadow: -100vmin 0 13.440842905191827vmin currentColor; }
.background span:nth-child(8)  { top: 2%;  left: 6%;  animation-duration: 42s; animation-delay: -21s; transform-origin: 20vw -21vh; box-shadow: -100vmin 0 12.912545683636328vmin currentColor; }
.background span:nth-child(9)  { top: 92%; left: 52%; animation-duration: 17s; animation-delay: -3s;  transform-origin: 5vw 14vh;   box-shadow: 100vmin 0 12.818233251078073vmin currentColor; }
.background span:nth-child(10) { top: 82%; left: 63%; animation-duration: 40s; animation-delay: -26s; transform-origin: 8vw 21vh;   box-shadow: 100vmin 0 13.480726977407816vmin currentColor; }
.background span:nth-child(11) { top: 48%; left: 33%; animation-duration: 12s; animation-delay: -18s; transform-origin: -11vw 25vh; box-shadow: -100vmin 0 13.313859623387483vmin currentColor; }
.background span:nth-child(12) { top: 20%; left: 20%; animation-duration: 29s; animation-delay: -23s; transform-origin: 10vw 7vh;   box-shadow: -100vmin 0 12.725392018609426vmin currentColor; }
.background span:nth-child(13) { top: 71%; left: 1%;  animation-duration: 44s; animation-delay: -3s;  transform-origin: -3vw -14vh; box-shadow: 100vmin 0 13.150410626371318vmin currentColor; }
.background span:nth-child(14) { top: 61%; left: 61%; animation-duration: 36s; animation-delay: -43s; transform-origin: -3vw 3vh;   box-shadow: -100vmin 0 12.728415950007594vmin currentColor; }
.background span:nth-child(15) { top: 60%; left: 35%; animation-duration: 51s; animation-delay: -19s; transform-origin: 17vw -23vh; box-shadow: 100vmin 0 12.558862253429941vmin currentColor; }
.background span:nth-child(16) { top: 82%; left: 23%; animation-duration: 40s; animation-delay: -40s; transform-origin: -20vw -13vh; box-shadow: 100vmin 0 13.047551218588895vmin currentColor; }
.background span:nth-child(17) { top: 80%; left: 35%; animation-duration: 24s; animation-delay: -4s;  transform-origin: -1vw -15vh; box-shadow: -100vmin 0 13.078899615099179vmin currentColor; }
.background span:nth-child(18) { top: 60%; left: 7%;  animation-duration: 6s;  animation-delay: -50s; transform-origin: -1vw 7vh;   box-shadow: 100vmin 0 12.847647981504046vmin currentColor; }
.background span:nth-child(19) { top: 96%; left: 24%; animation-duration: 41s; animation-delay: -27s; transform-origin: -9vw -3vh;  box-shadow: 100vmin 0 12.703149766709373vmin currentColor; }
.background span:nth-child(20) { top: 89%; left: 96%; animation-duration: 18s; animation-delay: -45s; transform-origin: 23vw -12vh;  box-shadow: 100vmin 0 13.15672955093644vmin currentColor; }
.background span:nth-child(21) { top: 34%; left: 35%; animation-duration: 47s; animation-delay: -40s; transform-origin: 17vw -19vh;  box-shadow: 100vmin 0 13.414656308543409vmin currentColor; }
.background span:nth-child(22) { top: 10%; left: 65%; animation-duration: 36s; animation-delay: -17s; transform-origin: -3vw -10vh; box-shadow: 100vmin 0 13.278536753076931vmin currentColor; }
.background span:nth-child(23) { top: 43%; left: 98%; animation-duration: 48s; animation-delay: -37s; transform-origin: -16vw 5vh;  box-shadow: 100vmin 0 12.592344789490433vmin currentColor; }
.background span:nth-child(24) { top: 95%; left: 52%; animation-duration: 29s; animation-delay: -43s; transform-origin: -2vw -2vh;   box-shadow: 100vmin 0 13.468610222843726vmin currentColor; }
.background span:nth-child(25) { top: 16%; left: 2%;  animation-duration: 7s;  animation-delay: -26s; transform-origin: -2vw 5vh;   box-shadow: 100vmin 0 13.363551111982302vmin currentColor; }
.background span:nth-child(26) { top: 93%; left: 40%; animation-duration: 30s; animation-delay: -4s;  transform-origin: 17vw 5vh;   box-shadow: -100vmin 0 13.132103443332646vmin currentColor; }
.background span:nth-child(27) { top: 85%; left: 79%; animation-duration: 38s; animation-delay: -30s; transform-origin: 0vw -3vh;    box-shadow: 100vmin 0 12.857653408819946vmin currentColor; }
.background span:nth-child(28) { top: 51%; left: 67%; animation-duration: 17s; animation-delay: -50s; transform-origin: -8vw 12vh;  box-shadow: 100vmin 0 13.303756179112014vmin currentColor; }
.background span:nth-child(29) { top: 47%; left: 12%; animation-duration: 54s; animation-delay: -36s; transform-origin: -18vw 0vh;  box-shadow: -100vmin 0 13.039532969107947vmin currentColor; }
.background span:nth-child(30) { top: 95%; left: 10%; animation-duration: 52s; animation-delay: -22s; transform-origin: -1vw 2vh;   box-shadow: -100vmin 0 13.260048106916319vmin currentColor; }
.background span:nth-child(31) { top: 45%; left: 35%; animation-duration: 38s; animation-delay: -37s; transform-origin: -7vw 6vh;   box-shadow: 100vmin 0 13.365643580377299vmin currentColor; }
.background span:nth-child(32) { top: 36%; left: 98%; animation-duration: 50s; }
