/* GLOBAL STYLES: apply to all screens*/

/*  DYNAMIC BACKGROUND  */
@keyframes move {
    100% { transform: translate3d(0, 0, 1px) rotate(360deg); }
}

.background {
    position: fixed;
    inset: 0;
    background: #a374d6;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    color: #803fc7;
    animation: move 45s linear infinite;
}

.background span:nth-child(0)  { top: 48%; left: 65%; animation-duration: 52s; animation-delay: -19s; transform-origin: -24vw 15vh; box-shadow: 100vmin 0 12.51224127633343vmin currentColor; }
.background span:nth-child(1)  { top: 26%; left: 5%;  animation-duration: 54s; animation-delay: -7s;  transform-origin: -4vw -19vh; box-shadow: 100vmin 0 12.638605966443146vmin currentColor; }
.background span:nth-child(2)  { top: 59%; left: 5%;  animation-duration: 44s; animation-delay: -37s; transform-origin: -5vw -3vh;   box-shadow: -100vmin 0 12.955129356012014vmin currentColor; }
.background span:nth-child(3)  { top: 31%; left: 86%; animation-duration: 54s; animation-delay: -50s; transform-origin: -8vw 24vh;  box-shadow: -100vmin 0 13.286937654273622vmin currentColor; }
.background span:nth-child(4)  { top: 78%; left: 11%; animation-duration: 20s; animation-delay: -22s; transform-origin: -13vw 3vh;  box-shadow: -100vmin 0 13.434870685541025vmin currentColor; }
.background span:nth-child(5)  { top: 31%; left: 18%; animation-duration: 50s; animation-delay: -30s; transform-origin: -6vw 20vh;  box-shadow: 100vmin 0 12.653919048845651vmin currentColor; }
.background span:nth-child(6)  { top: 78%; left: 52%; animation-duration: 11s; animation-delay: -37s; transform-origin: -11vw 14vh; box-shadow: -100vmin 0 12.708364493664732vmin currentColor; }
.background span:nth-child(7)  { top: 48%; left: 76%; animation-duration: 47s; animation-delay: -31s; transform-origin: -7vw 0vh;   box-shadow: -100vmin 0 13.440842905191827vmin currentColor; }
.background span:nth-child(8)  { top: 2%;  left: 6%;  animation-duration: 42s; animation-delay: -21s; transform-origin: 20vw -21vh; box-shadow: -100vmin 0 12.912545683636328vmin currentColor; }
.background span:nth-child(9)  { top: 92%; left: 52%; animation-duration: 17s; animation-delay: -3s;  transform-origin: 5vw 14vh;   box-shadow: 100vmin 0 12.818233251078073vmin currentColor; }
.background span:nth-child(10) { top: 82%; left: 63%; animation-duration: 40s; animation-delay: -26s; transform-origin: 8vw 21vh;   box-shadow: 100vmin 0 13.480726977407816vmin currentColor; }
.background span:nth-child(11) { top: 48%; left: 33%; animation-duration: 12s; animation-delay: -18s; transform-origin: -11vw 25vh; box-shadow: -100vmin 0 13.313859623387483vmin currentColor; }
.background span:nth-child(12) { top: 20%; left: 20%; animation-duration: 29s; animation-delay: -23s; transform-origin: 10vw 7vh;   box-shadow: -100vmin 0 12.725392018609426vmin currentColor; }
.background span:nth-child(13) { top: 71%; left: 1%;  animation-duration: 44s; animation-delay: -3s;  transform-origin: -3vw -14vh; box-shadow: 100vmin 0 13.150410626371318vmin currentColor; }
.background span:nth-child(14) { top: 61%; left: 61%; animation-duration: 36s; animation-delay: -43s; transform-origin: -3vw 3vh;   box-shadow: -100vmin 0 12.728415950007594vmin currentColor; }
.background span:nth-child(15) { top: 60%; left: 35%; animation-duration: 51s; animation-delay: -19s; transform-origin: 17vw -23vh; box-shadow: 100vmin 0 12.558862253429941vmin currentColor; }
.background span:nth-child(16) { top: 82%; left: 23%; animation-duration: 40s; animation-delay: -40s; transform-origin: -20vw -13vh; box-shadow: 100vmin 0 13.047551218588895vmin currentColor; }
.background span:nth-child(17) { top: 80%; left: 35%; animation-duration: 24s; animation-delay: -4s;  transform-origin: -1vw -15vh; box-shadow: -100vmin 0 13.078899615099179vmin currentColor; }
.background span:nth-child(18) { top: 60%; left: 7%;  animation-duration: 6s;  animation-delay: -50s; transform-origin: -1vw 7vh;   box-shadow: 100vmin 0 12.847647981504046vmin currentColor; }
.background span:nth-child(19) { top: 96%; left: 24%; animation-duration: 41s; animation-delay: -27s; transform-origin: -9vw -3vh;  box-shadow: 100vmin 0 12.703149766709373vmin currentColor; }
.background span:nth-child(20) { top: 89%; left: 96%; animation-duration: 18s; animation-delay: -45s; transform-origin: 23vw -12vh;  box-shadow: 100vmin 0 13.15672955093644vmin currentColor; }
.background span:nth-child(21) { top: 34%; left: 35%; animation-duration: 47s; animation-delay: -40s; transform-origin: 17vw -19vh;  box-shadow: 100vmin 0 13.414656308543409vmin currentColor; }
.background span:nth-child(22) { top: 10%; left: 65%; animation-duration: 36s; animation-delay: -17s; transform-origin: -3vw -10vh; box-shadow: 100vmin 0 13.278536753076931vmin currentColor; }
.background span:nth-child(23) { top: 43%; left: 98%; animation-duration: 48s; animation-delay: -37s; transform-origin: -16vw 5vh;  box-shadow: 100vmin 0 12.592344789490433vmin currentColor; }
.background span:nth-child(24) { top: 95%; left: 52%; animation-duration: 29s; animation-delay: -43s; transform-origin: -2vw -2vh;   box-shadow: 100vmin 0 13.468610222843726vmin currentColor; }
.background span:nth-child(25) { top: 16%; left: 2%;  animation-duration: 7s;  animation-delay: -26s; transform-origin: -2vw 5vh;   box-shadow: 100vmin 0 13.363551111982302vmin currentColor; }
.background span:nth-child(26) { top: 93%; left: 40%; animation-duration: 30s; animation-delay: -4s;  transform-origin: 17vw 5vh;   box-shadow: -100vmin 0 13.132103443332646vmin currentColor; }
.background span:nth-child(27) { top: 85%; left: 79%; animation-duration: 38s; animation-delay: -30s; transform-origin: 0vw -3vh;    box-shadow: 100vmin 0 12.857653408819946vmin currentColor; }
.background span:nth-child(28) { top: 51%; left: 67%; animation-duration: 17s; animation-delay: -50s; transform-origin: -8vw 12vh;  box-shadow: 100vmin 0 13.303756179112014vmin currentColor; }
.background span:nth-child(29) { top: 47%; left: 12%; animation-duration: 54s; animation-delay: -36s; transform-origin: -18vw 0vh;  box-shadow: -100vmin 0 13.039532969107947vmin currentColor; }
.background span:nth-child(30) { top: 95%; left: 10%; animation-duration: 52s; animation-delay: -22s; transform-origin: -1vw 2vh;   box-shadow: -100vmin 0 13.260048106916319vmin currentColor; }
.background span:nth-child(31) { top: 45%; left: 35%; animation-duration: 38s; animation-delay: -37s; transform-origin: -7vw 6vh;   box-shadow: 100vmin 0 13.365643580377299vmin currentColor; }
.background span:nth-child(32) { top: 36%; left: 98%; animation-duration: 50s; }

/* MOBILE Website View */
@media(max-width:1023px){

    .desktop-nav-menu{display: none;}

    .content-wrapper{
        display: flex;
        align-items: center;
    }

    .mobile-nav-menu{
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
        margin: 0rem;
        width: 100%;
    }
    .nav-menu{
        display: flex;
        position: sticky;
        top: 0;
        z-index: 10;
        margin-top: 35vh;

        animation: header-shrink 10s ease-in-out 1s 1 normal forwards;
    }
    header{
        background-color: rgb(163 116 214 / 0.84);
        display: flex;
        border-radius: 1rem;
        margin-bottom: 0;
        width: 100%;
        justify-content: center;
        align-items: center;

    }
    h1 {
        display: inline-block;
        color: rgb(255 255 255 / 0.85);
        background-color: rgb(163 116 214 / 0);
        border-radius: 1rem;
        font-size: 1.5rem;
        padding: 0rem 1rem;
    }

    .dropdown-button{
        display: none;
    }
    .display-dropdown-button{
        display: inline-block;
        background-color: rgb(255 255 255 / 0.27);
        color: white;
        height: fit-content;
        border-radius: 5px;
        text-align: center;
        width: 2rem;
        padding: 2px;
        cursor: pointer;
    }
    .display-dropdown-button:active {
        background-color: rgb(128 86 187);
    }
    .hidden-menu{
        display: none;
        position: absolute;
        list-style-type: none;
        background-color: rgb(163 114 230);
        border-radius: 1rem;
        z-index: 9;
        justify-items: flex-start;
        top: 2.6rem;
        right: 0rem;
    }
    .dropdown-button:checked ~ .hidden-menu{
        display: block;
    }
    .hidden-item a{
        display: block;
        text-decoration: none;
        color: white;
        margin: 1rem 2rem 1rem 0rem;
    }

    .nav-list{
        background-color: rgb(128 63 199 / 0);
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 8vh;
        opacity: 0;
        animation: nav-list-animation 2s ease-in 5s 1 reverse forwards;

    }
    .nav-item a{
        background-color: rgb(220 192 236 / 0);
        color: white;
        display: block;
        text-decoration: none;
        font-size: 4vh;
        padding: 4vh 0;
    }

    .scroll{
        color: rgb(255 255 255 / 0);
        text-align: center;
        animation: scroll-sign 5s ease-in-out 10s 2 alternate;
    }

    @keyframes scroll-sign {
        from {
            color: rgb(255 255 255 / 0)
        }
        to {
            color: rgb(255 255 255 / 0.47)
        }
    }

    /* ----ANIMATIONS ------*/
    @keyframes header-shrink{
        from{margin-top: 35vh}
        to{margin-top: 0vh}
    }
    @keyframes nav-list-animation {
        from{ opacity: 1; }
        to{ opacity: 0; }

    }

}

/*  DESKTOP Website View */
@media(min-width: 1024px){

    .mobile-nav-menu{display: none;}

    /*navigation bar and popup content -- desktop*/
    .desktop-nav-menu {
        display: flex;
        justify-content:center;
        border-radius: 10px;
        top: 0;

        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(50px); /*TODO: this blurs the background of the navbar*/
    }
    .nav-list{
        list-style-type: none;

        margin: 0;
        padding: 0;
        overflow: hidden;
        gap: 5rem;
        display: flex;
    }

    .nav-list:hover .left-nav a{
        background-color: #a374d6;
        color: white;
        font-size: 25px;
    }
    .nav-list:hover .right-nav a{
        background-color: #a374d6;
        color: white;
        font-size: 25px;
    }
    /*FIXME: mergege left and right navs if needed to make code more readable*/
    .left-nav{
        display: flex;
        align-items: center;
    }

    .right-nav{
        display: flex;
        align-items: center;
    }

    .left-nav a{
        background-color: rgb(163 116 214 / 0);
        color: rgb(255 255 255 / 0);
        text-decoration: none;
        font-size: 1px;
        padding: 15px;
        border-radius: 15px;

        transition-property: all;
        transition-duration: 1.2s;
        transition-timing-function: ease-in-out;
    }

    .right-nav a{
        background-color: rgb(163 116 214 / 0);
        color: rgb(255 255 255 / 0);
        text-decoration: none;
        font-size: 1px;
        padding: 15px;
        border-radius: 15px;

        transition-property: all;
        transition-duration: 1.2s;
        transition-timing-function: ease-in-out;
    }

    .nav-list .left-nav a:hover{
        background-color: rgb(128 86 187 / 0.76);
    }
    .nav-list .right-nav a:hover{
        background-color: rgb(128 86 187 / 0.76);
    }

    .main-nav{
        color: white;
        text-align: center;
        font-size: 35px;

        padding: 0px 50px;
        display: inline-block;
        position: relative; /*TODO: be careful when creating the website experience*/
    }

    h1{
        background-color: rgb(163 116 214 / 0);
        color: rgb(255 255 255 / 0.85);
        border-radius: 15px;
        padding: 0px 25px;

        transition-property: color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
    }

    h1:hover{
        color: rgb(163 116 214 / 0.78);
    }

    a{
        text-decoration: none;
    }
}