@import url('navigation.css');
@import url('background.css');/*navigation menus for desktop and mobile*/

/* GLOBAL STYLES: apply to all screens*/
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}
/*Google Fonts*/
@media(max-width:1023px) {
    .fredoka-bubbly {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }


    section[id] {
        padding-top: 2rem;
        max-height: 100dvh;
        min-height: 70dvh;
        justify-items: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;

    }

/* HOME section*/
    .header {
        display: block;
        justify-items: center;
        text-align: center;
        background-color: rgb(185 142 243 / 0.66);
        border-radius: 1rem;
        border: 2px solid #020205;
        box-shadow: 10px 10px black;
        width: 80cqw;
        height: 50%;
        margin-top: 20% !important;
    }

    .header p {
        font-size: 2rem;
        font-family: Fredoka, cursive;
    }

    h1 {
        background-color: rgb(255 255 255 / 0.89);
        color: rgb(2 2 5);
        font-size: clamp(50%, 5dvw, 200px);
        font-family: Fredoka, cursive;
        border: 1px solid #020205;
        border-radius: 1rem;
        width: 50cqw;
        height: 20cqw;
    }

    #home p {
        text-align: center;
        font-family: Fredoka, cursive;
        margin: 2rem;
    }

    p {
        font-size: clamp(16px, 2.5dvw, 4vw);
        text-align: center;
    }
}